* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  font-size: 16px;
}

body {
  background: white;
}

.grid-container {
  color: white;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "sector1""sector2""sector3""sector4";
}

.sector1 {
  background: chartreuse;
  color: #000000;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "puntaje start pmaximo";
  grid-area: sector1;
}

.puntaje {
  grid-area: puntaje;
}

.start {
  grid-area: start;
}

.pmaximo {
  grid-area: pmaximo;
}

.colores {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.sector2 {
  background: chocolate;
  display: grid;
  padding: 10px;
  margin: 10px;
  width: 500px;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "rojo verde""azul amarillo";
  grid-area: sector2;
}

.rojo {
  grid-area: rojo;
}

.verde {
  grid-area: verde;
}

.azul {
  grid-area: azul;
}

.amarillo {
  grid-area: amarillo;
}

.sector3 {
  background: cornflowerblue;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "reiniciar continuar";
  grid-area: sector3;
}

.reiniciar {
  grid-area: reiniciar;
}

.continuar {
  grid-area: continuar;
}

.sector4 {
  background: darkcyan;
  flex-wrap: wrap;
  color: #000000;
  padding: 10px;
  margin: 10px;
  display: flex;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "mensaje";
  grid-area: sector4;
}

.mensaje {
  text-align: left;
  grid-area: mensaje;
}

footer {
  height: 40px;
  font-size: 15px;
}

.link {
  font-size: 18px;
  color: white;
}

.link:hover {
  color: white;
}

.link:active {
  font-size: 16px;
}

/* botones */

#start {
  font-size: 25px;
  line-height: 110%;
}
#start:active {
height: 44px;
}

.button:focus {
  outline: 0;
}

.button {
  font-size: 15px;
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  box-shadow: none;
  border: none;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 2rem;
  height: 40px;
  align-self: center;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  line-height: 150%;
  background: rgb(221, 135, 54);
}

.button:active {
  height: 36px;
}

.button:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.726);
  background: rgb(224, 112, 6);
}

/* inputs */

#mensaje {
  width: 60%;
  background: white;
}

#puntaje {
  width: 150px;
  background: white;
}

#pmaximo {
  width: 150px;
  background: white;
}


  /* boton rojo */
.boton-rojo {
  height: 100%;
  width: 100%;
  box-shadow: none;
  border: none;
  cursor: pointer;
  align-self: center;
  background: #ed1b24;
}
.boton-rojo:active {
  height: 98%;
  width: 98%;
}
.boton-rojo:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.726);
  background: #ed1b24;
}

/* boton verde */
.boton-verde {
  height: 100%;
  width: 100%;
  box-shadow: none;
  border: none;
  cursor: pointer;
  align-self: center;
  line-height: 150%;
  background: #23b14d;
}
.boton-verde:active {
  height: 98%;
  width: 98%;
}
.boton-verde:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.726);
  background: #23b14d;
}

/* boton azul */
.boton-azul {
  height: 100%;
  width: 100%;
  box-shadow: none;
  border: none;
  cursor: pointer;
  align-self: center;
  line-height: 150%;
  background: #00a3e8;
}
.boton-azul:active {
  height: 98%;
  width: 98%;
}
.boton-azul:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.726);
  background: #00a3e8;
}

/* boton amarillo */
.boton-amarillo {
  height: 100%;
  width: 100%;
  box-shadow: none;
  border: none;
  cursor: pointer;
  align-self: center;
  line-height: 150%;
  background: #fef200;
}
.boton-amarillo:active {
  height: 98%;
  width: 98%;
}
.boton-amarillo:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.726);
  background: #fef200;
}