@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

* {
  -webkit-box-sizing: border-box;
  -webkit-transition: all .3s ease;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  font-weight: lighter;
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: all .1s ease;
  user-select: none;
  outline: 0;
}

#form {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  background-color: #000;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  cursor: pointer;
}

.grid-container {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  grid-template-areas: sector1 sector2 sector3 sector4;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: calc(100vh - 20px);
  justify-content: space-evenly
}

.sector1 {
  align-items: baseline;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  grid-area: sector1;
  grid-template-areas: "puntaje start pmaximo";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  padding: 5px;
  width: 100%
}

#plabel {
  padding-right: 10px
}

#pmlabel {
  padding-right: 10px
}

.start {
  grid-area: start;
}

.pmaximo {
  align-items: baseline;
  grid-area: pmaximo;
  text-align: center
}

.colores {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 450px;
  position: relative;
  text-align: center
}

.sector2 {
  display: grid;
  background-color: #fff;
  grid-area: sector2;
  grid-template-areas: "rojo verde""azul amarillo";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  justify-content: center;
  padding: 5px
}

.rojo {
  grid-area: rojo
}

.verde {
  grid-area: verde
}

.azul {
  grid-area: azul
}

.amarillo {
  grid-area: amarillo
}

.sector3 {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
  grid-area: sector3;
  grid-template-areas: "reiniciar continuar";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  padding: 5px;
  width: 100%
}

.sector4 {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-area: sector4;
  grid-template-areas: mensaje;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  padding: 5px
}

.mensaje {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  grid-area: mensaje;
  justify-content: center;
  text-align: center
}

footer {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  align-content: center;
  bottom: 0;
  height: 18px;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none
}

.link {
  font-size: 18px;
  text-decoration: none;
}

.link:visited {
  color: #fff;
}

.puntaje {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-area: puntaje;
  justify-content: center
}

#mensaje {
  align-items: center;
  background-color: #000;
  color: #fff;
  border: none;
  justify-content: center;
  text-align: center;
  width: 280px
}

.boton-rojo {
  align-self: center;
  background: #ed1b24;
  border: none;
  box-shadow: none;
  cursor: pointer;
  height: 100%;
  width: 100%
}

.boton-rojo:active {
  background: #d31721;
  height: 96%;
  width: 96%
}

.boton-verde {
  align-self: center;
  background: #23b14d;
  border: none;
  box-shadow: none;
  cursor: pointer;
  height: 100%;
  line-height: 150%;
  width: 100%
}

.boton-verde:active {
  background: #1ca144;
  height: 96%;
  width: 96%
}

.boton-azul {
  align-self: center;
  background: #00a3e8;
  border: none;
  box-shadow: none;
  cursor: pointer;
  height: 100%;
  line-height: 150%;
  width: 100%
}

.boton-azul:active {
  background: #0094d3;
  height: 96%;
  width: 96%
}

.boton-amarillo {
  align-self: center;
  background: #fef200;
  border: none;
  box-shadow: none;
  cursor: pointer;
  height: 100%;
  line-height: 150%;
  width: 100%
}

.boton-amarillo:active {
  background: #e6da00;
  height: 96%;
  width: 96%
}

::-webkit-scrollbar {
  width: 15px
}

::-webkit-scrollbar-track {
  background: #f1f1f1
}

::-webkit-scrollbar-thumb {
  background: #888
}

::-webkit-scrollbar-thumb:hover {
  background: #555
}

#amarillo,
#azul,
#rojo,
#verde {
  width: 15vw
}

#pmaximo,
#puntaje {
  background-color: #000;
  color: #fff;
  border: none;
  padding-bottom: 10px;
  text-align: left;
  width: 70px
}

.boton-amarillo:hover,
.boton-azul:hover,
.boton-rojo:hover,
.boton-verde:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, .726)
}

@media screen and (min-width:0px) and (max-width:320px) {
  .colores {
    min-height: 250px
  }

  #amarillo,
  #azul,
  #rojo,
  #verde {
    width: 80vw
  }
}

@media screen and (min-width:320px) and (max-width:480px) {
  .colores {
    min-height: 300px
  }

  #amarillo,
  #azul,
  #rojo,
  #verde {
    width: 40vw
  }
}

@media screen and (min-width:480px) and (max-width:768px) {
  .colores {
    min-height: 350px
  }

  #amarillo,
  #azul,
  #rojo,
  #verde {
    width: 30vw
  }
}

@media screen and (min-width:768px) and (max-width:1000px) {
  .colores {
    min-height: 400px
  }

  #amarillo,
  #azul,
  #rojo,
  #verde {
    width: 25vw
  }
}


.rojoActivado {
  align-self: center;
  background: #ff636b;
  height: 110%;
  position: relative;
  width: 110%;
  z-index: 99;
}

.verdeActivado {
  align-self: center;
  background: #6be28f;
  height: 110%;
  line-height: 150%;
  position: relative;
  width: 110%;
  z-index: 99;
}

.azulActivado {
  align-self: center;
  background: #5fc8f5;
  height: 110%;
  line-height: 150%;
  position: relative;
  width: 110%;
  z-index: 99;
}

.amarilloActivado {
  align-self: center;
  background: #fff764;
  height: 110%;
  line-height: 150%;
  position: relative;
  width: 110%;
  z-index: 99;
}

#start {
  padding: 10px;
  text-align: center;
  line-height: 50%;
}

#start:active {
  height: 44px;
}

input {
  background-color: #000;
  color: #fff;
}

.button {
  font-size: 32px;
  max-width: 100px;
  background: #dd8736;
  border: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.button:active {
  height: 36px;
}

.button:hover {
  cursor: pointer;
  background: #e07006;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .726)
}

.title {
  padding: 4px;
  max-width: 100%;
  max-height: 70px;
  margin-left: auto;
  margin-right: auto;
}