@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");
* {
  -webkit-box-sizing: border-box;
  -webkit-transition: all .3s ease;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  font-weight: lighter;
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: 0;
}

html {
  background-color: #000;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  cursor: pointer;
}

.grid-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
      grid-template-areas: sector1 sector2 sector3 sector4;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  height: calc(100vh - 20px);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sector1 {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  grid-area: sector1;
      grid-template-areas: "puntaje start pmaximo";
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px;
  width: 100%;
}

#plabel {
  padding-right: 10px;
}

#pmlabel {
  padding-right: 10px;
}

.start {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: start;
}

.pmaximo {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: pmaximo;
  text-align: center;
}

.colores {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 450px;
  position: relative;
  text-align: center;
}

.sector2 {
  display: -ms-grid;
  display: grid;
  background-color: #fff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: sector2;
      grid-template-areas: "rojo verde" "azul amarillo";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.rojo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: rojo;
}

.verde {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: verde;
}

.azul {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: azul;
}

.amarillo {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: amarillo;
}

.sector3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sector3;
      grid-template-areas: "reiniciar continuar";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px;
  width: 100%;
}

.sector4 {
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-area: sector4;
      grid-template-areas: mensaje;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.mensaje {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-area: mensaje;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  -ms-flex-line-pack: center;
      align-content: center;
  bottom: 0;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.link {
  font-size: 18px;
  text-decoration: none;
}

.link:visited {
  color: #fff;
}

.puntaje {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: puntaje;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mensaje {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  color: #fff;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 280px;
}

.boton-rojo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #ed1b24;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.boton-rojo:active {
  background: #d31721;
  height: 96%;
  width: 96%;
}

.boton-verde {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #23b14d;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  height: 100%;
  line-height: 150%;
  width: 100%;
}

.boton-verde:active {
  background: #1ca144;
  height: 96%;
  width: 96%;
}

.boton-azul {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #00a3e8;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  height: 100%;
  line-height: 150%;
  width: 100%;
}

.boton-azul:active {
  background: #0094d3;
  height: 96%;
  width: 96%;
}

.boton-amarillo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #fef200;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  height: 100%;
  line-height: 150%;
  width: 100%;
}

.boton-amarillo:active {
  background: #e6da00;
  height: 96%;
  width: 96%;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#amarillo,
#azul,
#rojo,
#verde {
  width: 15vw;
}

#pmaximo,
#puntaje {
  background-color: #000;
  color: #fff;
  border: none;
  padding-bottom: 10px;
  text-align: left;
  width: 70px;
}

.boton-amarillo:hover,
.boton-azul:hover,
.boton-rojo:hover,
.boton-verde:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.726);
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  .colores {
    min-height: 250px;
  }
  #amarillo,
  #azul,
  #rojo,
  #verde {
    width: 80vw;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .colores {
    min-height: 300px;
  }
  #amarillo,
  #azul,
  #rojo,
  #verde {
    width: 40vw;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .colores {
    min-height: 350px;
  }
  #amarillo,
  #azul,
  #rojo,
  #verde {
    width: 30vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .colores {
    min-height: 400px;
  }
  #amarillo,
  #azul,
  #rojo,
  #verde {
    width: 25vw;
  }
}

.rojoActivado {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #ff636b;
  height: 110%;
  position: relative;
  width: 110%;
  z-index: 99;
}

.verdeActivado {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #6be28f;
  height: 110%;
  line-height: 150%;
  position: relative;
  width: 110%;
  z-index: 99;
}

.azulActivado {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #5fc8f5;
  height: 110%;
  line-height: 150%;
  position: relative;
  width: 110%;
  z-index: 99;
}

.amarilloActivado {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #fff764;
  height: 110%;
  line-height: 150%;
  position: relative;
  width: 110%;
  z-index: 99;
}

#start {
  padding: 10px;
  text-align: center;
  line-height: 50%;
}

#start:active {
  height: 44px;
}

input {
  background-color: #000;
  color: #fff;
}

.button {
  font-size: 32px;
  max-width: 100px;
  background: #dd8736;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.button:active {
  height: 36px;
}

.button:hover {
  cursor: pointer;
  background: #e07006;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.726);
}

.title {
  padding: 4px;
  max-width: 100%;
  max-height: 70px;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=styles.css.map */