* {
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

body {
  background: #fff;
}

.grid-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
      grid-template-areas: sector1 sector2 sector3 sector4;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  height: calc(100vh - 20px);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sector1 {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  grid-area: sector1;
      grid-template-areas: "puntaje start pmaximo";
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5px;
  padding: 5px;
  width: 100%;
}

#plabel {
  padding-right: 10px;
}

#pmlabel {
  padding-right: 10px;
}

.puntaje {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-weight: 700;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: puntaje;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.start {
  font-weight: 700;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: start;
  text-align: center;
}

.pmaximo {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-weight: 700;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: pmaximo;
  text-align: center;
}

.colores {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 450px;
  position: relative;
  text-align: center;
}

.sector2 {
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: sector2;
      grid-template-areas: "rojo verde" "azul amarillo";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
  padding: 5px;
}

.rojo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: rojo;
}

.verde {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: verde;
}

.azul {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: azul;
}

.amarillo {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: amarillo;
}

.sector3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sector3;
      grid-template-areas: "reiniciar continuar";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5px;
  padding: 5px;
  width: 100%;
}

.reiniciar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: reiniciar;
}

.continuar {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: continuar;
}

.sector4 {
  background-color: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-area: sector4;
      grid-template-areas: mensaje;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
  padding: 5px;
}

.mensaje {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 20px;
  font-weight: 700;
  grid-area: mensaje;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.mensajeWin {
  background: #00ff6a;
}

.mensajeLose {
  background: red;
}

footer {
  -ms-flex-line-pack: center;
      align-content: center;
  bottom: 0;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.link {
  font-size: 15px;
}

.link:active {
  font-size: 14px;
  outline: 0;
}

#start {
  font-size: 25px;
  line-height: 105%;
}

#start:active {
  height: 44px;
  outline: 0;
}

.button:focus {
  outline: 0;
}

.button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #dd8736;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  height: 40px;
  line-height: 150%;
  margin-bottom: 2rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

input {
  color: transparent;
  text-shadow: 0 0 0 #2196f3;
}

input:focus {
  outline: none;
}

.button:active {
  height: 36px;
  outline: 0;
}

.button:hover {
  background: #e07006;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.726);
}

#mensaje {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border: none;
  color: #000;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 280px;
}

.boton-rojo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #ed1b24;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.boton-rojo:active {
  background: #d31721;
  height: 96%;
  outline: 0;
  width: 96%;
}

.boton-verde {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #23b14d;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  height: 100%;
  line-height: 150%;
  width: 100%;
}

.boton-verde:active {
  background: #1ca144;
  height: 96%;
  outline: 0;
  width: 96%;
}

.boton-azul {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #00a3e8;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  height: 100%;
  line-height: 150%;
  width: 100%;
}

.boton-azul:active {
  background: #0094d3;
  height: 96%;
  outline: 0;
  width: 96%;
}

.boton-amarillo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #fef200;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  height: 100%;
  line-height: 150%;
  width: 100%;
}

.boton-amarillo:active {
  background: #e6da00;
  height: 96%;
  outline: 0;
  width: 96%;
}

.rojoActivado {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #ff636b;
  height: 110%;
  position: relative;
  width: 110%;
  z-index: 99;
}

.verdeActivado {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #6be28f;
  height: 110%;
  line-height: 150%;
  position: relative;
  width: 110%;
  z-index: 99;
}

.azulActivado {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #5fc8f5;
  height: 110%;
  line-height: 150%;
  position: relative;
  width: 110%;
  z-index: 99;
}

.amarilloActivado {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #fff764;
  height: 110%;
  line-height: 150%;
  position: relative;
  width: 110%;
  z-index: 99;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#rojo,
#verde,
#azul,
#amarillo {
  width: 15vw;
}

#puntaje,
#pmaximo {
  background: #fff;
  border: none;
  font-size: 25px;
  padding-bottom: 10px;
  text-align: left;
  width: 70px;
}

.boton-rojo:hover,
.boton-verde:hover,
.boton-azul:hover,
.boton-amarillo:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.726);
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  .colores {
    min-height: 250px;
  }
  #rojo,
  #verde,
  #azul,
  #amarillo {
    width: 80vw;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .colores {
    min-height: 300px;
  }
  #rojo,
  #verde,
  #azul,
  #amarillo {
    width: 40vw;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .colores {
    min-height: 350px;
  }
  #rojo,
  #verde,
  #azul,
  #amarillo {
    width: 30vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .colores {
    min-height: 400px;
  }
  #rojo,
  #verde,
  #azul,
  #amarillo {
    width: 25vw;
  }
}

@media (prefers-color-scheme: dark) {
  body,
  .sector1,
  .sector2,
  .sector4,
  .puntaje,
  .mensaje,
  #mensaje,
  .start,
  .puntaje,
  .mensaje,
  #mensaje,
  #puntaje,
  #pmaximo,
  .link,
  .link:hover {
    background: #000;
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  body,
  .sector1,
  .sector2,
  .sector4,
  .puntaje,
  .mensaje,
  #mensaje,
  .start,
  .puntaje,
  .mensaje,
  #mensaje,
  #puntaje,
  #pmaximo,
  .link,
  .link:hover {
    background: #fff;
    color: #000;
  }
}
/*# sourceMappingURL=styles.css.map */